* {
    font-family: 'Lato', sans-serif;
    font-size: 1.03em;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 0%;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 5vh;
    border-radius: 5px;
    background: #E7E7E7;
    padding: 0% 1%;
    margin-top: 1%;
}

.header__nav:hover {
    border: #D04F4F 2px solid;
}

.header__input {
    width: 100%;
    height: 5vh;
    font-weight: 400;
    opacity: 0.25;
    border: none;
    background-color: #E7E7E7;
}

.header__input:focus {
    outline: none;
}

.selection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 13vh;
    margin-left: 4%;
}

.selection__choice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3vh;
    width: 5vw;
    border-radius: 5px;
    background: #3282F7;
    font-size: 0.7em;
    color: white;
    font-weight: bold;
    display: none;
}

.selection__options {
    display: flex;
    position: relative;
    height: 8vh;
}

.selection__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    width: 10vw;
    height: 6vh;
    border: none;
    color: white;
    font-weight: bold;
}

.selection__button--ingredients {
    background: #3282F7;
}

.selection__button--devices {
    background: #68D9A4;
    margin-left: 5%;
}

.selection__button--utensils {
    background-color: #ED6454;
    margin-left: 5%;
}

.recipes {
    margin-left: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.recipes-article {
    margin: 2% 0%;
    width: 25vw;
    font-size: 0.7em;
}

.recipes-article__block1 {
    height: 15vh;
    background-color: #C7BEBE;
    border-radius: 5px 5px 0px 0px;
}

.recipes-article__block2 {
    height: 15vh;
    background-color: #E7E7E7;
    padding: 5% 2%;
    border-radius: 0px 0px 5px 5px;
}

.recipes-article__block2__titre {
    padding: 0% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.35em;
    font-weight: bold;
}

.recipes-article__block2__informations {
    padding: 0% 2%;
    display: flex;
    justify-content: space-between;
}

.recipes-article__block2__informations__ingredients {
    width: 12.5vw;
}

.recipes-article__block2__informations__description {
    width: 8vw;
    height: 100px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

.recipes-article--bold {
    font-weight: bold;
}

.selection__options__button__ingredients {
    z-index: 2;
    display: none;
}

.selection__button__ingredients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: #3282F7;
    width: 33vw;
    border-radius: 5px 5px 0 0;
}

.selection__button__ingredients__input {
    width: 25vw;
    background-color: #3282F7;
    font-size: medium;
    color: white;
    font-weight: bold;
    border: none;
}



.selection__button__ingredients__input:focus {
    outline: none;
}

.selection__button__list__ingredients {
    display: flex;
    padding: 1% 2%;
    width: 33vw;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: #3282F7;
    color: white;
    font-weight: bold;
    height: 30vh;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
}


.ingredients__list {
    display: flex;
    margin: 1% 1%;
    width: 10vw;
    font-size: 0.7em;
}


.selection__options__button__devices {
    z-index: 2;
    position: relative;
    display: none;
}


.selection__button__devices {
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: #68D9A4;
    width: 25vw;
}

.selection__button__devices__input {
    width: 25vw;
    background-color: #68D9A4;
    font-size: medium;
    color: white;
    font-weight: bold;
    border: none;
}



.selection__button__devices__input:focus {
    outline: none;
}

.selection__button__list__devices {
    display: flex;
    padding: 1% 2%;
    width: 25vw;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: #68D9A4;
    color: white;
    font-weight: bold;
    max-height: 35vh;
    border-radius: 0 0 5px 5px;
}


.devices__list {
    display: flex;
    margin: 1% 1%;
    width: 10vw;
    font-size: 0.7em;
}

.selection__options__button__utensils {
    z-index: 2;
    position: relative;
    display: none;
}


.selection__button__utensils {
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: #ED6454;
    width: 25vw;
}

.selection__button__utensils__input {
    width: 25vw;
    background-color: #ED6454;
    font-size: medium;
    color: white;
    font-weight: bold;
    border: none;
}



.selection__button__utensils__input:focus {
    outline: none;
}

.selection__button__list__utensils {
    display: flex;
    padding: 1% 2%;
    width: 25vw;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: #ED6454;
    color: white;
    font-weight: bold;
    max-height: 35vh;
    border-radius: 0 0 5px 5px;
}


.utensils__list {
    display: flex;
    margin: 1% 1%;
    width: 10vw;
    font-size: 0.7em;
}

/* ********** Mise en page pour les écrans de 1920px au maximum ********** */

@media screen and (max-width: 1920px) {
    .selection {
        height: 20vh;
    }

    .selection__choice {
        width: 15vw;
        height: 5vh;
    }

    .selection__options {
        height: 8vh;
    }

    .selection__button {
        width: 20vw;
    }

    .recipes-article {
        height: 55vh;
        width: 40vw;
    }

    .recipes-article__block1 {
        height: 25vh;
    }

    .recipes-article__block2 {
        height: 25vh;
    }

    .recipes-article__block2__informations__ingredients {
        width: 15vw;
    }

    .recipes-article__block2__informations__description {
        width: 15vw;
    }

}